<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="image/*" enabled="true" />
        <add mimeType="font/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="image/*" enabled="true" />
        <add mimeType="font/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <security>
      <requestFiltering removeServerHeader="true" >
        <requestLimits maxAllowedContentLength="419430400" />
        </requestFiltering>
        <!-- <ipSecurity allowUnlisted="false">
          <add ipAddress="192.168.1.0" subnetMask="24" allowed="true" />
      </ipSecurity> -->
    </security>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-Powered-By" value="Rental Tracker. Inc" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="Content-Security-Policy" value="default-src 'self';img-src 'self' data:;style-src 'self' 'unsafe-inline';script-src 'self' 'unsafe-hashes' 'unsafe-eval' 'unsafe-inline';font-src 'self' 'unsafe-hashes' 'unsafe-eval' 'unsafe-inline' data:;connect-src 'self' * data:;frame-src 'self' blob: https://www.google.com/;frame-ancestors 'self';media-src 'self' data:;script-src-elem 'self' 'unsafe-inline' https://www.gstatic.com/ https://www.google.com/;" />
          <add name="Feature-Policy" value="vibrate 'none'" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <add name="Referrer-Policy: strict-origin-when-cross-origin" />

          <remove name="X-AspNet-Version" />
          <remove name="Server" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="1800" />
    <httpCookies sameSite="Strict" httpOnlyCookies="true" requireSSL="false" />
  </system.web>
</configuration>
