
.icon-icon-1arrow-down:before { content: '\e800'; } /* '' */
.icon-icon-1arrow-top:before { content: '\e801'; } /* '' */
.icon-icon-3arrow-down:before { content: '\e802'; } /* '' */
.icon-icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-icon-arrow-top-fill:before { content: '\e804'; } /* '' */
.icon-icon-calendar:before { content: '\e805'; } /* '' */
.icon-icon-equal:before { content: '\e806'; } /* '' */
.icon-icon-error:before { content: '\e807'; } /* '' */
.icon-icon-home:before { content: '\e808'; } /* '' */
.icon-icon-invisible:before { content: '\e809'; } /* '' */
.icon-icon-list:before { content: '\e80a'; } /* '' */
.icon-icon-log-out:before { content: '\e80b'; } /* '' */
.icon-icon-negative-fill:before { content: '\e80c'; } /* '' */
.icon-icon-negative-outline:before { content: '\e80d'; } /* '' */
.icon-icon-search:before { content: '\e80e'; } /* '' */
.icon-icon-user:before { content: '\e80f'; } /* '' */
.icon-icon-pen:before { content: '\e810'; } /* '' */
.icon-icon-users:before { content: '\e811'; } /* '' */
.icon-icon-verify:before { content: '\e812'; } /* '' */
.icon-icon-visibility:before { content: '\e813'; } /* '' */
.icon-icon-link:before { content: '\e814'; } /* '' */
.icon-icon-jira:before { content: '\e815'; } /* '' */
.icon-true:before { content: '\e816'; } /* '' */
.icon-icon-close:before { content: '\e817'; } /* '' */
.icon-icon-close-menu:before { content: '\e818'; } /* '' */
.icon-icon-filter:before { content: '\e819'; } /* '' */
.icon-icon-maximize:before { content: '\e81a'; } /* '' */
.icon-icon-menu:before { content: '\e81b'; } /* '' */
.icon-icon-minimize:before { content: '\e81c'; } /* '' */
.icon-icon-send:before { content: '\e81d'; } /* '' */
.icon-icon-camera:before { content: '\e81e'; } /* '' */
.icon-close-fill:before { content: '\e81f'; } /* '' */
.icon-positive-outline:before { content: '\e821'; } /* '' */
