@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76779124');
  src: url('../font/fontello.eot?76779124#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?76779124') format('woff2'),
       url('../font/fontello.woff?76779124') format('woff'),
       url('../font/fontello.ttf?76779124') format('truetype'),
       url('../font/fontello.svg?76779124#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76779124#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-icon-1arrow-down:before { content: '\e800'; } /* '' */
.icon-icon-1arrow-top:before { content: '\e801'; } /* '' */
.icon-icon-3arrow-down:before { content: '\e802'; } /* '' */
.icon-icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-icon-arrow-top-fill:before { content: '\e804'; } /* '' */
.icon-icon-calendar:before { content: '\e805'; } /* '' */
.icon-icon-equal:before { content: '\e806'; } /* '' */
.icon-icon-error:before { content: '\e807'; } /* '' */
.icon-icon-home:before { content: '\e808'; } /* '' */
.icon-icon-invisible:before { content: '\e809'; } /* '' */
.icon-icon-list:before { content: '\e80a'; } /* '' */
.icon-icon-log-out:before { content: '\e80b'; } /* '' */
.icon-icon-negative-fill:before { content: '\e80c'; } /* '' */
.icon-icon-negative-outline:before { content: '\e80d'; } /* '' */
.icon-icon-search:before { content: '\e80e'; } /* '' */
.icon-icon-user:before { content: '\e80f'; } /* '' */
.icon-icon-pen:before { content: '\e810'; } /* '' */
.icon-icon-users:before { content: '\e811'; } /* '' */
.icon-icon-verify:before { content: '\e812'; } /* '' */
.icon-icon-visibility:before { content: '\e813'; } /* '' */
.icon-icon-link:before { content: '\e814'; } /* '' */
.icon-icon-jira:before { content: '\e815'; } /* '' */
.icon-true:before { content: '\e816'; } /* '' */
.icon-icon-close:before { content: '\e817'; } /* '' */
.icon-icon-close-menu:before { content: '\e818'; } /* '' */
.icon-icon-filter:before { content: '\e819'; } /* '' */
.icon-icon-maximize:before { content: '\e81a'; } /* '' */
.icon-icon-menu:before { content: '\e81b'; } /* '' */
.icon-icon-minimize:before { content: '\e81c'; } /* '' */
.icon-icon-send:before { content: '\e81d'; } /* '' */
.icon-icon-camera:before { content: '\e81e'; } /* '' */
.icon-close-fill:before { content: '\e81f'; } /* '' */
.icon-positive-outline:before { content: '\e821'; } /* '' */
